/**
 * Estilos para el datetimepicker de Bootstrap, documentación: https://github.com/Eonasdan/bootstrap-datetimepicker/
 */
.bootstrap-datetimepicker-widget .btn[data-action=clear]:after,.bootstrap-datetimepicker-widget .btn[data-action=decrementHours]:after,.bootstrap-datetimepicker-widget .btn[data-action=decrementMinutes]:after,.bootstrap-datetimepicker-widget .btn[data-action=incrementHours]:after,.bootstrap-datetimepicker-widget .btn[data-action=incrementMinutes]:after,.bootstrap-datetimepicker-widget .btn[data-action=showHours]:after,.bootstrap-datetimepicker-widget .btn[data-action=showMinutes]:after,.bootstrap-datetimepicker-widget .btn[data-action=today]:after,.bootstrap-datetimepicker-widget .btn[data-action=togglePeriod]:after,.bootstrap-datetimepicker-widget .picker-switch:after,.bootstrap-datetimepicker-widget table th.next:after,.bootstrap-datetimepicker-widget table th.prev:after,.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0
}

.bootstrap-datetimepicker-widget {
    list-style: none
}

.bootstrap-datetimepicker-widget a:hover {
    box-shadow: none!important
}

.bootstrap-datetimepicker-widget a .btn:hover {
    background-color: transparent
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 4px;
    width: 19em
}

@media (min-width: 768px) {
    .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
        width:38em
    }
}

@media (min-width: 991px) {
    .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
        width:38em
    }
}

@media (min-width: 1200px) {
    .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
        width:38em
    }
}

.bootstrap-datetimepicker-widget.dropdown-menu.bottom:after,.bootstrap-datetimepicker-widget.dropdown-menu.bottom:before {
    right: auto;
    left: 12px
}

.bootstrap-datetimepicker-widget.dropdown-menu.top {
    margin-top: auto;
    margin-bottom: 27px;
    z-index: 1111
}

.bootstrap-datetimepicker-widget.dropdown-menu.top.open {
    margin-top: auto;
    margin-bottom: 27px
}

.bootstrap-datetimepicker-widget.dropdown-menu.pull-right:before {
    left: auto;
    right: 6px
}

.bootstrap-datetimepicker-widget.dropdown-menu.pull-right:after {
    left: auto;
    right: 7px
}

.bootstrap-datetimepicker-widget .list-unstyled {
    margin: 0
}

.bootstrap-datetimepicker-widget a[data-action] {
    padding: 0;
    margin: 0;
    border-width: 0;
    background-color: transparent;
    color: $brand-primary;
    box-shadow: none
}

.bootstrap-datetimepicker-widget a[data-action]:hover {
    background-color: transparent
}

.bootstrap-datetimepicker-widget a[data-action]:hover span {
    background-color: #eee;
    color: $brand-primary
}

.bootstrap-datetimepicker-widget a[data-action]:active {
    box-shadow: none
}

.bootstrap-datetimepicker-widget .timepicker-hour,.bootstrap-datetimepicker-widget .timepicker-minute,.bootstrap-datetimepicker-widget .timepicker-second {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-weight: 300;
    font-size: 1.125rem;
    margin: 0;
    border-radius: 50%
}

.bootstrap-datetimepicker-widget button[data-action] {
    width: 38px;
    height: 38px;
    margin-right: 3px;
    padding: 0
}

.bootstrap-datetimepicker-widget .btn[data-action=incrementHours]:after {
    content: "Increment Hours"
}

.bootstrap-datetimepicker-widget .btn[data-action=incrementMinutes]:after {
    content: "Increment Minutes"
}

.bootstrap-datetimepicker-widget .btn[data-action=decrementHours]:after {
    content: "Decrement Hours"
}

.bootstrap-datetimepicker-widget .btn[data-action=decrementMinutes]:after {
    content: "Decrement Minutes"
}

.bootstrap-datetimepicker-widget .btn[data-action=showHours]:after {
    content: "Show Hours"
}

.bootstrap-datetimepicker-widget .btn[data-action=showMinutes]:after {
    content: "Show Minutes"
}

.bootstrap-datetimepicker-widget .btn[data-action=togglePeriod]:after {
    content: "Toggle AM/PM"
}

.bootstrap-datetimepicker-widget .btn[data-action=clear]:after {
    content: "Clear the picker"
}

.bootstrap-datetimepicker-widget .btn[data-action=today]:after {
    content: "Set the date to today"
}

.bootstrap-datetimepicker-widget .picker-switch {
    text-align: center;
    border-radius: 3px;
    font-size: .875rem
}

.bootstrap-datetimepicker-widget .picker-switch:after {
    content: "Toggle Date and Time Screens"
}

.bootstrap-datetimepicker-widget .picker-switch td {
    padding: 0;
    margin: 0;
    height: auto;
    width: auto;
    line-height: inherit
}

.bootstrap-datetimepicker-widget .picker-switch td span {
    line-height: 2.5;
    height: 2.5em;
    width: 100%;
    border-radius: 3px;
    margin: 2px 0!important
}

.bootstrap-datetimepicker-widget table {
    width: 100%;
    margin: 0
}

.bootstrap-datetimepicker-widget table.table-condensed tr>td,.bootstrap-datetimepicker-widget table td>div,.bootstrap-datetimepicker-widget table th>div {
    text-align: center
}

.bootstrap-datetimepicker-widget table th {
    height: 20px;
    line-height: 20px;
    width: 20px;
    font-weight: 500
}

.bootstrap-datetimepicker-widget table th.picker-switch {
    width: 145px
}

.bootstrap-datetimepicker-widget table th.disabled,.bootstrap-datetimepicker-widget table th.disabled:hover {
    background: none;
    color: #eee;
    cursor: not-allowed
}

.bootstrap-datetimepicker-widget table th.next span,.bootstrap-datetimepicker-widget table th.prev span {
    border-radius: 3px;
    height: 27px;
    width: 27px;
    line-height: 28px;
    font-size: 12px;
    border-radius: 50%;
    text-align: center
}

.bootstrap-datetimepicker-widget table th.prev:after {
    content: "Previous Month"
}

.bootstrap-datetimepicker-widget table th.next:after {
    content: "Next Month"
}

.bootstrap-datetimepicker-widget table th.dow {
    text-align: center;
    border-bottom: 1px solid #eee;
    font-size: 12px;
    text-transform: uppercase;
    color: #333;
    font-weight: 400;
    padding-bottom: 5px;
    padding-top: 10px
}

.bootstrap-datetimepicker-widget table thead tr:first-child th {
    cursor: pointer
}

.bootstrap-datetimepicker-widget table thead tr:first-child th.picker-switch:hover,.bootstrap-datetimepicker-widget table thead tr:first-child th:hover span {
    background: #eee
}

.bootstrap-datetimepicker-widget table td>div {
    border-radius: 3px;
    height: 54px;
    line-height: 54px;
    width: 54px;
    text-align: center
}

.bootstrap-datetimepicker-widget table td.cw>div {
    font-size: .8em;
    height: 20px;
    line-height: 20px;
    color: #999
}

.bootstrap-datetimepicker-widget table td.day>div {
    height: 30px;
    line-height: 30px;
    width: 30px;
    text-align: center;
    padding: 0;
    border-radius: 50%;
    position: relative;
    z-index: -1;
    color: #3c4858;
    font-size: .875rem
}

.bootstrap-datetimepicker-widget table td.hour>div,.bootstrap-datetimepicker-widget table td.minute>div {
    border-radius: 50%
}

.bootstrap-datetimepicker-widget table td.day:hover>div,.bootstrap-datetimepicker-widget table td.hour:hover>div,.bootstrap-datetimepicker-widget table td.minute:hover>div,.bootstrap-datetimepicker-widget table td.second:hover>div {
    background: #eee;
    cursor: pointer
}

.bootstrap-datetimepicker-widget table td.new>div,.bootstrap-datetimepicker-widget table td.old>div {
    color: #999
}

.bootstrap-datetimepicker-widget table td.today>div {
    position: relative
}

.bootstrap-datetimepicker-widget table td.today>div:before {
    content: "";
    display: inline-block;
    border: 5px solid transparent;
    border-bottom-color: $brand-primary;
    position: absolute;
    bottom: 4px;
    right: 4px
}

.bootstrap-datetimepicker-widget table td.active:hover>div,.bootstrap-datetimepicker-widget table td.active>div {
    background-color: $brand-primary;
    color: #fff;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba($brand-primary,.4)
}

.bootstrap-datetimepicker-widget table td.active.today:before>div {
    border-bottom-color: #fff
}

.bootstrap-datetimepicker-widget table td.disabled:hover>div,.bootstrap-datetimepicker-widget table td.disabled>div {
    background: none;
    color: #eee;
    cursor: not-allowed
}

.bootstrap-datetimepicker-widget table td span {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 3px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center
}

.bootstrap-datetimepicker-widget table td span:hover {
    background: #eee
}

.bootstrap-datetimepicker-widget table td span.active {
    background-color: $brand-primary;
    color: #fff
}

.bootstrap-datetimepicker-widget table td span.old {
    color: #999
}

.bootstrap-datetimepicker-widget table td span.disabled,.bootstrap-datetimepicker-widget table td span.disabled:hover {
    background: none;
    color: #eee;
    cursor: not-allowed
}

.bootstrap-datetimepicker-widget .timepicker-hours span,.bootstrap-datetimepicker-widget .timepicker-minutes span,.bootstrap-datetimepicker-widget .timepicker-picker span {
    border-radius: 50%!important
}

.bootstrap-datetimepicker-widget.usetwentyfour td.hour {
    height: 27px;
    line-height: 27px
}

.input-group.date .input-group-addon {
    cursor: pointer
}

.table-condensed>tbody>tr>td,.table-condensed>tbody>tr>th,.table-condensed>tfoot>tr>td,.table-condensed>tfoot>tr>th,.table-condensed>thead>tr>td,.table-condensed>thead>tr>th {
    padding: 1px;
    text-align: center;
    z-index: 1;
    cursor: pointer
}

.btn-file {
    position: relative;
    overflow: hidden;
    vertical-align: middle
}

.btn-file>input {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 23px;
    cursor: pointer;
    filter: alpha(opacity=0);
    opacity: 0;
    direction: ltr
}

.fileinput {
    display: inline-block;
    margin-bottom: 9px
}

.fileinput .form-control {
    display: inline-block;
    padding-top: 7px;
    padding-bottom: 5px;
    margin-bottom: 0;
    vertical-align: middle;
    cursor: text
}

.fileinput .thumbnail {
    display: inline-block;
    margin-bottom: 10px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    max-width: 250px;
    box-shadow: 0 10px 30px -12px rgba(0,0,0,.42),0 4px 25px 0 rgba(0,0,0,.12),0 8px 10px -5px rgba(0,0,0,.2)
}

.fileinput .thumbnail.img-circle {
    border-radius: 50%;
    max-width: 100px
}

.fileinput .thumbnail>img {
    max-height: 100%;
    width: 100%
}

.fileinput .btn {
    vertical-align: middle
}

.fileinput-exists .fileinput-new,.fileinput-new .fileinput-exists {
    display: none
}

.fileinput-inline .fileinput-controls {
    display: inline
}

.fileinput-filename {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle
}

.form-control .fileinput-filename {
    vertical-align: bottom
}

.fileinput.input-group {
    display: table
}

.fileinput.input-group>* {
    position: relative;
    z-index: 2
}

.fileinput.input-group>.btn-file {
    z-index: 1
}

.fileinput-new.input-group .btn-file,.fileinput-new .input-group .btn-file {
    border-radius: 0 4px 4px 0
}

.fileinput-new.input-group .btn-file.btn-sm,.fileinput-new .input-group .btn-file.btn-sm,.fileinput-new.input-group .btn-file.btn-xs,.fileinput-new .input-group .btn-file.btn-xs,.fileinput-new.input-group .btn-group-sm>.btn-file.btn,.fileinput-new .input-group .btn-group-sm>.btn-file.btn {
    border-radius: 0 3px 3px 0
}

.fileinput-new.input-group .btn-file.btn-lg,.fileinput-new .input-group .btn-file.btn-lg,.fileinput-new.input-group .btn-group-lg>.btn-file.btn,.fileinput-new .input-group .btn-group-lg>.btn-file.btn {
    border-radius: 0 6px 6px 0
}

.form-group.has-warning .fileinput .fileinput-preview {
    color: $brand-warning
}

.form-group.has-warning .fileinput .thumbnail {
    border-color: $brand-warning
}

.form-group.has-error .fileinput .fileinput-preview {
    color: $brand-danger
}

.form-group.has-error .fileinput .thumbnail {
    border-color: $brand-danger
}

.form-group.has-success .fileinput .fileinput-preview {
    color: $brand-success
}

.form-group.has-success .fileinput .thumbnail {
    border-color: $brand-success
}

.input-group-addon:not(:first-child) {
    border-left: 0
}

.thumbnail {
    border: 0 none;
    border-radius: 4px;
    padding: 0
}

.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus, .dropdown-menu a:hover, .dropdown-menu a:focus, .dropdown-menu a:active{
    background: transparent;
}

.datetimepicker-primary thead {
    color: $brand-primary !important;
}

.datetimepicker-success .form-control,
.datetimepicker-success .is-focused .form-control {
    background-image: linear-gradient(to top, $brand-success 2px, rgba($brand-success, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);   
}
.datetimepicker-success .bootstrap-datetimepicker-widget table td.active:hover > div,
.datetimepicker-success .bootstrap-datetimepicker-widget table td.active > div {
    background-color: $brand-success;
}
.datetimepicker-success .bootstrap-datetimepicker-widget table td.today > div:before {
    border-bottom-color: $brand-success !important;
}
.datetimepicker-success .bootstrap-datetimepicker-widget a[data-action] {
    color: $brand-success;
}
.datetimepicker-success .bootstrap-datetimepicker-widget table td span.active{
    background-color: $brand-success;
}
.datetimepicker-success .bootstrap-datetimepicker-widget a:hover span{
    color: darken($brand-success, 5%);
}
.datetimepicker-success .btn.btn-primary {
    color: #fff;
    background-color: $brand-success;
    border-color: $brand-success;
    box-shadow: 0 2px 2px 0 rgba($brand-success, 0.14), 0 3px 1px -2px rgba($brand-success, 0.2), 0 1px 5px 0 rgba($brand-success, 0.12)
}

.datetimepicker-warning .form-control,
.datetimepicker-warning .is-focused .form-control {
    background-image: linear-gradient(to top, $brand-warning 2px, rgba($brand-warning, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);   
}
.datetimepicker-warning .bootstrap-datetimepicker-widget table td.active:hover > div,
.datetimepicker-warning .bootstrap-datetimepicker-widget table td.active > div {
    background-color: $brand-warning;
}
.datetimepicker-warning .bootstrap-datetimepicker-widget table td.today > div:before {
    border-bottom-color: $brand-warning !important;
}
.datetimepicker-warning .bootstrap-datetimepicker-widget a[data-action] {
    color: $brand-warning;
}
.datetimepicker-warning .bootstrap-datetimepicker-widget table td span.active{
    background-color: $brand-warning;
}
.datetimepicker-warning .bootstrap-datetimepicker-widget a:hover span{
    color: darken($brand-warning, 5%);
}
.datetimepicker-warning .btn.btn-primary {
    color: #fff;
    background-color: $brand-warning;
    border-color: $brand-warning;
    box-shadow: 0 2px 2px 0 rgba($brand-warning, 0.14), 0 3px 1px -2px rgba($brand-warning, 0.2), 0 1px 5px 0 rgba($brand-warning, 0.12)
}

.datetimepicker-danger .form-control,
.datetimepicker-danger .is-focused .form-control {
    background-image: linear-gradient(to top, $brand-danger 2px, rgba($brand-danger, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);   
}
.datetimepicker-danger .bootstrap-datetimepicker-widget table td.active:hover > div,
.datetimepicker-danger .bootstrap-datetimepicker-widget table td.active > div {
    background-color: $brand-danger;
}
.datetimepicker-danger .bootstrap-datetimepicker-widget table td.today > div:before {
    border-bottom-color: $brand-danger !important;
}
.datetimepicker-danger .bootstrap-datetimepicker-widget a[data-action] {
    color: $brand-danger;
}
.datetimepicker-danger .bootstrap-datetimepicker-widget table td span.active{
    background-color: $brand-danger;
}
.datetimepicker-danger .bootstrap-datetimepicker-widget a:hover span{
    color: darken($brand-danger, 5%);
}
.datetimepicker-danger .btn.btn-primary {
    color: #fff;
    background-color: $brand-danger;
    border-color: $brand-danger;
    box-shadow: 0 2px 2px 0 rgba($brand-danger, 0.14), 0 3px 1px -2px rgba($brand-danger, 0.2), 0 1px 5px 0 rgba($brand-danger, 0.12)
}

.datetimepicker-rose .form-control,
.datetimepicker-rose .is-focused .form-control {
    background-image: linear-gradient(to top, $brand-rose 2px, rgba($brand-rose, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);   
}
.datetimepicker-rose .bootstrap-datetimepicker-widget table td.active:hover > div,
.datetimepicker-rose .bootstrap-datetimepicker-widget table td.active > div {
    background-color: $brand-rose;
}
.datetimepicker-rose .bootstrap-datetimepicker-widget table td.today > div:before {
    border-bottom-color: $brand-rose !important;
}
.datetimepicker-rose .bootstrap-datetimepicker-widget a[data-action] {
    color: $brand-rose;
}
.datetimepicker-rose .bootstrap-datetimepicker-widget table td span.active{
    background-color: $brand-rose;
}
.datetimepicker-rose .bootstrap-datetimepicker-widget a:hover span{
    color: darken($brand-rose, 5%);
}
.datetimepicker-rose .btn.btn-primary {
    color: #fff;
    background-color: $brand-rose;
    border-color: $brand-rose;
    box-shadow: 0 2px 2px 0 rgba($brand-rose, 0.14), 0 3px 1px -2px rgba($brand-rose, 0.2), 0 1px 5px 0 rgba($brand-rose, 0.12)
}

.datetimepicker-cyan .form-control,
.datetimepicker-cyan .is-focused .form-control {
    background-image: linear-gradient(to top, $brand-cyan 2px, rgba($brand-cyan, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);   
}
.datetimepicker-cyan .bootstrap-datetimepicker-widget table td.active:hover > div,
.datetimepicker-cyan .bootstrap-datetimepicker-widget table td.active > div {
    background-color: $brand-cyan;
}
.datetimepicker-cyan .bootstrap-datetimepicker-widget table td.today > div:before {
    border-bottom-color: $brand-cyan !important;
}
.datetimepicker-cyan .bootstrap-datetimepicker-widget a[data-action] {
    color: $brand-cyan;
}
.datetimepicker-cyan .bootstrap-datetimepicker-widget table td span.active{
    background-color: $brand-cyan;
}
.datetimepicker-cyan .bootstrap-datetimepicker-widget a:hover span{
    color: darken($brand-cyan, 5%);
}
.datetimepicker-cyan .btn.btn-primary {
    color: #fff;
    background-color: $brand-cyan;
    border-color: $brand-cyan;
    box-shadow: 0 2px 2px 0 rgba($brand-cyan, 0.14), 0 3px 1px -2px rgba($brand-cyan, 0.2), 0 1px 5px 0 rgba($brand-cyan, 0.12)
}

.datetimepicker-alter .form-control,
.datetimepicker-alter .is-focused .form-control {
    background-image: linear-gradient(to top, $brand-alter 2px, rgba($brand-alter, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);   
}
.datetimepicker-alter .bootstrap-datetimepicker-widget table td.active:hover > div,
.datetimepicker-alter .bootstrap-datetimepicker-widget table td.active > div {
    background-color: $brand-alter;
}
.datetimepicker-alter .bootstrap-datetimepicker-widget table td.today > div:before {
    border-bottom-color: $brand-alter !important;
}
.datetimepicker-alter .bootstrap-datetimepicker-widget a[data-action] {
    color: $brand-alter;
}
.datetimepicker-alter .bootstrap-datetimepicker-widget table td span.active{
    background-color: $brand-alter;
}
.datetimepicker-alter .bootstrap-datetimepicker-widget a:hover span{
    color: darken($brand-alter, 5%);
}
.datetimepicker-alter .btn.btn-primary {
    color: #fff;
    background-color: $brand-alter;
    border-color: $brand-alter;
    box-shadow: 0 2px 2px 0 rgba($brand-alter, 0.14), 0 3px 1px -2px rgba($brand-alter, 0.2), 0 1px 5px 0 rgba($brand-alter, 0.12)
}
